Apr 26 17:01:54 srv766163 systemd[1]: Starting nginx.service - A high performance web server and a reverse proxy server...
[0;38;5;245m░░ [0m[0;32mSubject: A start job for unit nginx.service has begun execution[0m
[0;38;5;245m░░[0m [0;32mDefined-By: systemd[0m
[0;38;5;245m░░[0m [0;32mSupport: http://www.ubuntu.com/support[0m
[0;38;5;245m░░[0m [0;32m[0m
[0;38;5;245m░░[0m [0;32mA start job for unit nginx.service has begun execution.[0m
[0;38;5;245m░░[0m [0;32m[0m
[0;38;5;245m░░[0m [0;32mThe job identifier is 684065.[0m
Apr 26 17:01:54 srv766163 systemd[1]: Started nginx.service - A high performance web server and a reverse proxy server.
[0;38;5;245m░░ [0m[0;32mSubject: A start job for unit nginx.service has finished successfully[0m
[0;38;5;245m░░[0m [0;32mDefined-By: systemd[0m
[0;38;5;245m░░[0m [0;32mSupport: http://www.ubuntu.com/support[0m
[0;38;5;245m░░[0m [0;32m[0m
[0;38;5;245m░░[0m [0;32mA start job for unit nginx.service has finished successfully.[0m
[0;38;5;245m░░[0m [0;32m[0m
[0;38;5;245m░░[0m [0;32mThe job identifier is 684065.[0m
Apr 26 17:08:25 srv766163 systemd[1]: Stopping nginx.service - A high performance web server and a reverse proxy server...
[0;38;5;245m░░ [0m[0;32mSubject: A stop job for unit nginx.service has begun execution[0m
[0;38;5;245m░░[0m [0;32mDefined-By: systemd[0m
[0;38;5;245m░░[0m [0;32mSupport: http://www.ubuntu.com/support[0m
[0;38;5;245m░░[0m [0;32m[0m
[0;38;5;245m░░[0m [0;32mA stop job for unit nginx.service has begun execution.[0m
[0;38;5;245m░░[0m [0;32m[0m
[0;38;5;245m░░[0m [0;32mThe job identifier is 684169.[0m
Apr 26 17:08:25 srv766163 systemd[1]: nginx.service: Deactivated successfully.
[0;38;5;245m░░ [0m[0;32mSubject: Unit succeeded[0m
[0;38;5;245m░░[0m [0;32mDefined-By: systemd[0m
[0;38;5;245m░░[0m [0;32mSupport: http://www.ubuntu.com/support[0m
[0;38;5;245m░░[0m [0;32m[0m
[0;38;5;245m░░[0m [0;32mThe unit nginx.service has successfully entered the 'dead' state.[0m
Apr 26 17:08:25 srv766163 systemd[1]: Stopped nginx.service - A high performance web server and a reverse proxy server.
[0;38;5;245m░░ [0m[0;32mSubject: A stop job for unit nginx.service has finished[0m
[0;38;5;245m░░[0m [0;32mDefined-By: systemd[0m
[0;38;5;245m░░[0m [0;32mSupport: http://www.ubuntu.com/support[0m
[0;38;5;245m░░[0m [0;32m[0m
[0;38;5;245m░░[0m [0;32mA stop job for unit nginx.service has finished.[0m
[0;38;5;245m░░[0m [0;32m[0m
[0;38;5;245m░░[0m [0;32mThe job identifier is 684169 and the job result is done.[0m
Apr 26 17:08:25 srv766163 systemd[1]: Starting nginx.service - A high performance web server and a reverse proxy server...
[0;38;5;245m░░ [0m[0;32mSubject: A start job for unit nginx.service has begun execution[0m
[0;38;5;245m░░[0m [0;32mDefined-By: systemd[0m
[0;38;5;245m░░[0m [0;32mSupport: http://www.ubuntu.com/support[0m
[0;38;5;245m░░[0m [0;32m[0m
[0;38;5;245m░░[0m [0;32mA start job for unit nginx.service has begun execution.[0m
[0;38;5;245m░░[0m [0;32m[0m
[0;38;5;245m░░[0m [0;32mThe job identifier is 684169.[0m
Apr 26 17:08:25 srv766163 systemd[1]: Started nginx.service - A high performance web server and a reverse proxy server.
[0;38;5;245m░░ [0m[0;32mSubject: A start job for unit nginx.service has finished successfully[0m
[0;38;5;245m░░[0m [0;32mDefined-By: systemd[0m
[0;38;5;245m░░[0m [0;32mSupport: http://www.ubuntu.com/support[0m
[0;38;5;245m░░[0m [0;32m[0m
[0;38;5;245m░░[0m [0;32mA start job for unit nginx.service has finished successfully.[0m
[0;38;5;245m░░[0m [0;32m[0m
[0;38;5;245m░░[0m [0;32mThe job identifier is 684169.[0m
Apr 26 17:17:23 srv766163 systemd[1]: Stopping nginx.service - A high performance web server and a reverse proxy server...
[0;38;5;245m░░ [0m[0;32mSubject: A stop job for unit nginx.service has begun execution[0m
[0;38;5;245m░░[0m [0;32mDefined-By: systemd[0m
[0;38;5;245m░░[0m [0;32mSupport: http://www.ubuntu.com/support[0m
[0;38;5;245m░░[0m [0;32m[0m
[0;38;5;245m░░[0m [0;32mA stop job for unit nginx.service has begun execution.[0m
[0;38;5;245m░░[0m [0;32m[0m
[0;38;5;245m░░[0m [0;32mThe job identifier is 684377.[0m
Apr 26 17:17:23 srv766163 systemd[1]: nginx.service: Deactivated successfully.
[0;38;5;245m░░ [0m[0;32mSubject: Unit succeeded[0m
[0;38;5;245m░░[0m [0;32mDefined-By: systemd[0m
[0;38;5;245m░░[0m [0;32mSupport: http://www.ubuntu.com/support[0m
[0;38;5;245m░░[0m [0;32m[0m
[0;38;5;245m░░[0m [0;32mThe unit nginx.service has successfully entered the 'dead' state.[0m
Apr 26 17:17:23 srv766163 systemd[1]: Stopped nginx.service - A high performance web server and a reverse proxy server.
[0;38;5;245m░░ [0m[0;32mSubject: A stop job for unit nginx.service has finished[0m
[0;38;5;245m░░[0m [0;32mDefined-By: systemd[0m
[0;38;5;245m░░[0m [0;32mSupport: http://www.ubuntu.com/support[0m
[0;38;5;245m░░[0m [0;32m[0m
[0;38;5;245m░░[0m [0;32mA stop job for unit nginx.service has finished.[0m
[0;38;5;245m░░[0m [0;32m[0m
[0;38;5;245m░░[0m [0;32mThe job identifier is 684377 and the job result is done.[0m
Apr 26 17:17:23 srv766163 systemd[1]: Starting nginx.service - A high performance web server and a reverse proxy server...
[0;38;5;245m░░ [0m[0;32mSubject: A start job for unit nginx.service has begun execution[0m
[0;38;5;245m░░[0m [0;32mDefined-By: systemd[0m
[0;38;5;245m░░[0m [0;32mSupport: http://www.ubuntu.com/support[0m
[0;38;5;245m░░[0m [0;32m[0m
[0;38;5;245m░░[0m [0;32mA start job for unit nginx.service has begun execution.[0m
[0;38;5;245m░░[0m [0;32m[0m
[0;38;5;245m░░[0m [0;32mThe job identifier is 684377.[0m
Apr 26 17:17:23 srv766163 nginx[712387]: nginx: [emerg] bind() to 0.0.0.0:8002 failed (98: Address already in use)
Apr 26 17:17:23 srv766163 nginx[712387]: nginx: [emerg] bind() to 0.0.0.0:8002 failed (98: Address already in use)
Apr 26 17:17:24 srv766163 nginx[712387]: nginx: [emerg] bind() to 0.0.0.0:8002 failed (98: Address already in use)
Apr 26 17:17:24 srv766163 nginx[712387]: nginx: [emerg] bind() to 0.0.0.0:8002 failed (98: Address already in use)
Apr 26 17:17:25 srv766163 nginx[712387]: nginx: [emerg] bind() to 0.0.0.0:8002 failed (98: Address already in use)
Apr 26 17:17:25 srv766163 nginx[712387]: nginx: [emerg] still could not bind()
Apr 26 17:17:25 srv766163 systemd[1]: [0;1;39m[0;1;31m[0;1;39mnginx.service: Control process exited, code=exited, status=1/FAILURE[0m
[0;38;5;245m░░ [0m[0;32mSubject: Unit process exited[0m
[0;38;5;245m░░[0m [0;32mDefined-By: systemd[0m
[0;38;5;245m░░[0m [0;32mSupport: http://www.ubuntu.com/support[0m
[0;38;5;245m░░[0m [0;32m[0m
[0;38;5;245m░░[0m [0;32mAn ExecStart= process belonging to unit nginx.service has exited.[0m
[0;38;5;245m░░[0m [0;32m[0m
[0;38;5;245m░░[0m [0;32mThe process' exit code is 'exited' and its exit status is 1.[0m
Apr 26 17:17:25 srv766163 systemd[1]: [0;1;38;5;185m[0;1;39m[0;1;38;5;185mnginx.service: Failed with result 'exit-code'.[0m
[0;38;5;245m░░ [0m[0;32mSubject: Unit failed[0m
[0;38;5;245m░░[0m [0;32mDefined-By: systemd[0m
[0;38;5;245m░░[0m [0;32mSupport: http://www.ubuntu.com/support[0m
[0;38;5;245m░░[0m [0;32m[0m
[0;38;5;245m░░[0m [0;32mThe unit nginx.service has entered the 'failed' state with result 'exit-code'.[0m
Apr 26 17:17:25 srv766163 systemd[1]: [0;1;31m[0;1;39m[0;1;31mFailed to start nginx.service - A high performance web server and a reverse proxy server.[0m
[0;38;5;245m░░ [0m[0;32mSubject: A start job for unit nginx.service has failed[0m
[0;38;5;245m░░[0m [0;32mDefined-By: systemd[0m
[0;38;5;245m░░[0m [0;32mSupport: http://www.ubuntu.com/support[0m
[0;38;5;245m░░[0m [0;32m[0m
[0;38;5;245m░░[0m [0;32mA start job for unit nginx.service has finished with a failure.[0m
[0;38;5;245m░░[0m [0;32m[0m
[0;38;5;245m░░[0m [0;32mThe job identifier is 684377 and the job result is failed.[0m
Apr 26 17:32:58 srv766163 systemd[1]: Starting nginx.service - A high performance web server and a reverse proxy server...
[0;38;5;245m░░ [0m[0;32mSubject: A start job for unit nginx.service has begun execution[0m
[0;38;5;245m░░[0m [0;32mDefined-By: systemd[0m
[0;38;5;245m░░[0m [0;32mSupport: http://www.ubuntu.com/support[0m
[0;38;5;245m░░[0m [0;32m[0m
[0;38;5;245m░░[0m [0;32mA start job for unit nginx.service has begun execution.[0m
[0;38;5;245m░░[0m [0;32m[0m
[0;38;5;245m░░[0m [0;32mThe job identifier is 684793.[0m
Apr 26 17:32:58 srv766163 nginx[712728]: nginx: [emerg] bind() to 0.0.0.0:8002 failed (98: Address already in use)
Apr 26 17:32:59 srv766163 nginx[712728]: nginx: [emerg] bind() to 0.0.0.0:8002 failed (98: Address already in use)
Apr 26 17:32:59 srv766163 nginx[712728]: nginx: [emerg] bind() to 0.0.0.0:8002 failed (98: Address already in use)
Apr 26 17:33:00 srv766163 nginx[712728]: nginx: [emerg] bind() to 0.0.0.0:8002 failed (98: Address already in use)
Apr 26 17:33:00 srv766163 nginx[712728]: nginx: [emerg] bind() to 0.0.0.0:8002 failed (98: Address already in use)
Apr 26 17:33:01 srv766163 nginx[712728]: nginx: [emerg] still could not bind()
Apr 26 17:33:01 srv766163 systemd[1]: [0;1;39m[0;1;31m[0;1;39mnginx.service: Control process exited, code=exited, status=1/FAILURE[0m
[0;38;5;245m░░ [0m[0;32mSubject: Unit process exited[0m
[0;38;5;245m░░[0m [0;32mDefined-By: systemd[0m
[0;38;5;245m░░[0m [0;32mSupport: http://www.ubuntu.com/support[0m
[0;38;5;245m░░[0m [0;32m[0m
[0;38;5;245m░░[0m [0;32mAn ExecStart= process belonging to unit nginx.service has exited.[0m
[0;38;5;245m░░[0m [0;32m[0m
[0;38;5;245m░░[0m [0;32mThe process' exit code is 'exited' and its exit status is 1.[0m
Apr 26 17:33:01 srv766163 systemd[1]: [0;1;38;5;185m[0;1;39m[0;1;38;5;185mnginx.service: Failed with result 'exit-code'.[0m
[0;38;5;245m░░ [0m[0;32mSubject: Unit failed[0m
[0;38;5;245m░░[0m [0;32mDefined-By: systemd[0m
[0;38;5;245m░░[0m [0;32mSupport: http://www.ubuntu.com/support[0m
[0;38;5;245m░░[0m [0;32m[0m
[0;38;5;245m░░[0m [0;32mThe unit nginx.service has entered the 'failed' state with result 'exit-code'.[0m
Apr 26 17:33:01 srv766163 systemd[1]: [0;1;31m[0;1;39m[0;1;31mFailed to start nginx.service - A high performance web server and a reverse proxy server.[0m
[0;38;5;245m░░ [0m[0;32mSubject: A start job for unit nginx.service has failed[0m
[0;38;5;245m░░[0m [0;32mDefined-By: systemd[0m
[0;38;5;245m░░[0m [0;32mSupport: http://www.ubuntu.com/support[0m
[0;38;5;245m░░[0m [0;32m[0m
[0;38;5;245m░░[0m [0;32mA start job for unit nginx.service has finished with a failure.[0m
[0;38;5;245m░░[0m [0;32m[0m
[0;38;5;245m░░[0m [0;32mThe job identifier is 684793 and the job result is failed.[0m
